
@{
    ViewData["Title"] = "批量上传档案Excel";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1>批量上传档案Excle</h1>
            </div>
            <div class="col-sm-8">

            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-warning alert-dismissible" style="display:none">

            </div>
            <div class="alert alert-success alert-dismissible" style="display:none">

            </div>

            <!-- /.card-header -->
            <div class="card-body">
                <div>
                    <input id="file" name="files" type="file" class="file" data-browse-on-zone-click="true" multiple>
                </div>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-block btn-primary btn-lg" style="display:none" id="submit">确认上传</button>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="modal fade" id="modal-submit">
        <div class="modal-dialog" style="max-width:800px">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title">正在提交...</p>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" id="progress" style="width: 40%">
                            <span class="sr-only">40% Complete (success)</span>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>文件</th>
                                    <th style="width: 40px">完成</th>
                                </tr>
                            </thead>
                            <tbody id="filelist">

                            </tbody>                            
                        </table>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn-finished">完 成</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

</section>

<!-- /.content -->
@section PageCss
{
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/all-krajee/all-krajee.min.css">
    <link rel="stylesheet" href="~/plugins/fileinput/css/fileinput.min.css">
    <link rel="stylesheet" href="~/plugins/fileinput/css/fileinput-rtl.min.css">
}
@section PagePlusgins
{
    <script src="~/plugins/fileinput/fileinput.min.js"></script>
}
@section PageScripts
{
    <script>
        var $submit = $("#submit");
        var $file = $("#file");
        $file.fileinput({
            showPreview: true,
            showUpload: true,
            showRemove: true, //显示移除按钮
            maxFileCount: 10,
            elErrorContainer: '#kartik-file-errors',
            allowedFileExtensions: ["xls"],
            layoutTemplates: {
                actionUpload: ''//去除上传预览缩略图中的上传图片
                //actionZoom: '',   //去除上传预览缩略图中的查看详情预览的缩略图标
                //actionDownload: '' //去除上传预览缩略图中的下载图标
                //actionDelete: '', //去除上传预览的缩略图中的删除图标
            },
            uploadUrl: '/files/batchAddFile',
        }).on('change', function (event) {
            //console.log("change");
        }).on('filebatchselected', function (event, files) {
            console.log("filebatchselected", files, files.length);
            $warning.hide();
            $success.hide();
        }).on('fileremoved', function (event, id, index) {
            console.log('fileremoved id = ' + id + ', index = ' + index);
        }).on('filesuccessremove', function (event, id) {
            console.log('filesuccessremove:', id);
            delete result[id];
        }).on('filecleared', function (event) {
            result = null;
            $submit.hide();
            console.log("filecleared");
        }).on('fileuploaded', function (event, data, previewId, index) {
            console.log('fileuploaded', previewId, index, data);
            data.response.data = data.response.data[0];
            result[previewId] = data.response;
        }).on('filebatchuploadcomplete', function () {
            $submit.show();
            $warning.hide();
            $success.hide();
            console.log('filebatchuploadcomplete');
        });
        var result = {};
        var $warning = $(".alert-warning");
        var $success = $(".alert-success");
        function showError(text) {
            $success.hide();
            $warning.show().html(text);
        }
        function showSuccess(text) {
            $warning.hide();
            $success.show().html(text);
            $submit.hide();
        }
        var $progress = $("#progress");
        var $modelfoot = $(".modal-footer");
        var $modaltitle = $(".modal-title");
        $submit.on('click', function () {
            var getFilesCount = $file.fileinput('getFilesCount');
            if (getFilesCount > 0) {
                showError("文件未全部上传完成"); return;
            }
            var filesCount = 0;
            for (var key in result) {
                var item = result[key];
                if (item.success)
                    filesCount++;
                else {
                    showError("请删除未上传或上传失败的文件再提交");
                    return;
                }
            }
            if (filesCount === 0) {
                showError("请先上传文件再提交");
                return;
            }
            var $filelist = $("#filelist");
            $filelist.empty();//bg-yellow bg-red bg-blue bg-green            
            $('#modal-submit').modal({ backdrop: 'static', keyboard: false });
            $modelfoot.hide();
            $modaltitle.text("正在提交...")
            $progress.css("width", "1%");
            var index = 1;
            for (var key in result) {
                var item = result[key];
                $filelist.append('<tr><td>'+index+'.</td><td><a target="_blank" href='+item.data.accessUrl+'>'+key+'</a></td><td><span class="badge bg-blue" id="filespan'+index+'">正在提交...</span></td></tr>');
                index++;
            }
            index = 1;
            for (var key in result) {
                confirmSubmit(result,key, index);
                index++;
            }    
        });

        $("#btn-finished").on('click', function () {
            $file.fileinput("refresh");
            result = {};
            $('#modal-submit').modal('hide');
            $submit.hide();
        });

        function confirmSubmit(result, key, index) {
            var obj = result[key];
            var str = JSON.stringify({ "fileIds": [obj.data.id] });
            $.ajax({
                url: "/files/confirmUpload",
                type: "post",
                dataType: "json",
                contentType: 'application/json',
                cache: false,
                data: str,
                success: function (data) {
                    obj.submit = true;
                    var total = 0;
                    var submit = 0;
                    for (var key in result) {
                        total++;
                        if (result[key].submit) {
                            submit++;
                        }
                    }
                    var bl = submit / total * 100;
                    $progress.css("width", bl + "%");
                    if (bl == 100) {
                        $modelfoot.show();
                        $modaltitle.text("提交完成");
                    }
                    var filespan = $("#filespan" + index);
                    if (!data.success) {
                        filespan.removeClass('bg-blue').addClass("bg-red").attr("title", data.message).text(data.message);
                    }
                    else {
                        filespan.removeClass('bg-blue').addClass("bg-green").text(data.message);
                    }
                },
                error: function (data) {
                    //showError('发送异常，请稍后重试');
                }
            });
        }
    </script>
}


