@model LoginUserModel
@{
}


<!-- Main content -->
<section class="content" style="padding-bottom:5px;padding-top:10px">
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">档案号</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">分类号</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">案卷号</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">卷内序号</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">成文日期</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">页数</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">保管期限</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">密级</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">归档部门</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">归档日期</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">目录号</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">项目名称</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">题名</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label for="inputName">责任者</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 col-sm-12">
                        <label for="inputName">备注</label>
                        <input type="text" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="新建" class="btn btn-success float-right">
                    </div>
                </div>
            </div>
            <div>

            </div>
        </div>
    </div>
</section>