@model LoginUserModel
@{
    ViewBag.Title = "借阅记录";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <input type="button" id="btnExport" value="导出Excel" class="btn btn-success float-left">
            </div>
            <div class="col-sm-8">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control float-right" id="reservation" placeholder="选择日期范围">
                    <input type="hidden" id = "startTime" name="startTime" class="form-control" />
            	    <input type="hidden" id = "endTime" name="endTime" class="form-control" />
                </div>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="daListTable" class="table table-bordered table-striped"></table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@section PageCss
    {
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/daterangepicker/daterangepicker.css">
}
@section PagePlusgins
    {
    <!-- DataTables -->
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
}
@section PageScripts
    {
    <script>
        $(function () {
            $("#startTime").val(moment().subtract(30, "days").format("YYYY-MM-DD"));
            $("#endTime").val(moment().format("YYYY-MM-DD"))
            $('#reservation').daterangepicker({
                startDate: moment().subtract(30, "days"),
                "locale": {
                    format: 'YYYY-MM-DD',//日期格式
                    separator: ' ~ ',
                    applyLabel: "应用",
                    cancelLabel: "取消",
                    resetLabel: "重置",
                    "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],//汉化处理
                    "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                }
            }).on('apply.daterangepicker', function(ev, picker) {
                $("#startTime").val(picker.startDate.format('YYYY-MM-DD'));
                $("#endTime").val(picker.endDate.format('YYYY-MM-DD'));
                $('#daListTable').DataTable().ajax.reload();
	        });
            $.fn.dataTable.ext.errMode = 'throw';
            $('#daListTable').dataTable({
                "oLanguage": {
                    "sUrl": "@Url.Content("~/static/datatables_language.json")"
                },
                "bProcessing": true,
                "bAutoWidth": false,
                "bSort" : true,
                "bSearchable": true,
                "bServerSide": true,
                "sAjaxSource": "@Url.Content("~/borrow/searchBorrowRegister")",
                "fnServerData": function ( sSource, aoData, fnCallback ) {
                    var ds;
                    var sl;
                    var key;
                    var startDate;
                    var endDate;
                    for(var i = 0; i < aoData.length; i++)
                    {
                      if(aoData[i].name == 'iDisplayStart')
                      {
                          ds = aoData[i].value;
                      }
                      if(aoData[i].name == 'iDisplayLength')
                      {
                          dl = aoData[i].value;
                      }
                      if(aoData[i].name == 'sSearch')
                      {
                          key = aoData[i].value;
                      }
                    }
                    aoData.push( {"name": "PageNumber", "value": ds / dl} );
                    aoData.push( {"name": "PageSize", "value": dl} );
                    aoData.push({ "name": "Keyword", "value": key });
                    aoData.push({ "name": "StartDate", "value": $("#startTime").val() });
                    aoData.push({ "name": "EndDate", "value": $("#endTime").val() });
                    $.ajax( {
                            headers: {
                                Accept: "application/json; charset=utf-8",
                                Authorization: "Bearer @Model.Token"
                            },
                            "dataType": 'json',
                            "type": "GET",
                            "url": sSource,
                            "data": aoData,
                            "success": function(result){
                                if (result.success) {
                                    var ooret = {
                                        "sEcho": result.SEcho,
                                        "iTotalRecords": result.totalCount,
                                        "iTotalDisplayRecords": result.totalCount,
                                        "aaData": result.data
                                    }
                                    fnCallback(ooret)
                                } else {
                                    fnCallback(null)
                                }
                            }

                    } );
                },
                "aoColumns" : [ {
                        "mDataProp" : "createTimeStr",
                        "sTitle" : "借阅时间",
                        "sDefaultContent" : "",
                        "sClass" : "center",
                        "bSortable": true
                    },{
                        "mDataProp" : "department",
                        "sTitle" : "借阅单位",
                        "sDefaultContent" : "",
                        "sClass": "center",
                        "bSortable": false
                    },{
                        "mDataProp" : "borrower",
                        "sTitle" : "借阅人",
                        "sDefaultContent" : "",
                        "sClass" : "center",
                        "bSortable": false
                    }, {
                        "mDataProp" : "projectName",
                        "sTitle" : "工程名称",
                        "sDefaultContent" : "",
                        "sClass" : "center",
                        "bSortable": false
                    },{
                        "mDataProp" : "archivesStr",
                        "sTitle" : "借阅条目",
                        "sDefaultContent" : "",
                        "sClass" : "center",
                        "bSortable": false
                    },  {
                        "mDataProp" : "returnDateStr",
                        "sTitle" : "归还日期",
                        "sDefaultContent" : "",
                        "sClass" : "center"
                    }, {
                        "mDataProp" : "receiver",
                        "sTitle" : "接收人",
                        "sDefaultContent" : "",
                        "sClass" : "center",
                        "bSortable": false
                    }, {
                        "mDataProp" : "statusDesc",
                        "sTitle" : "备注",
                        "sDefaultContent" : "",
                        "sClass" : "center",
                        "bSortable": false
                    }],
                    aoColumnDefs: [
                          { sWidth: "12%", aTargets: [  0,1, 2,3,4,5,6,7 ] }
                    ]
            });

            //$("#btnExport").click(function(){
                //window.open('/borrow/export')
            //});

            $('#btnExport').on('click', function () {
                var aoData = [];
                aoData.push( {"name": "Keyword", "value": $('.dataTables_filter input').val()} );
                aoData.push({ "name": "StartDate", "value": $("#startTime").val() });
                aoData.push({ "name": "EndDate", "value": $("#endTime").val() });
                $.ajax({
                    headers: {
                        Authorization: "Bearer @Model.Token"
                    },
                    url: '/borrow/export',
                    data: aoData,
                    method: 'GET',
                    xhrFields: {
                        responseType: 'blob'
                    },
                    success: function (data) {
                        var a = document.createElement('a');
                        var url = window.URL.createObjectURL(data);
                        a.href = url;
                        a.download = '借阅记录.csv';
                        document.body.append(a);
                        a.click();
                        a.remove();
                        window.URL.revokeObjectURL(url);
                    }
                });
            });
        });
    </script>
}
